@model MyShop.Core.ViewModels.ProductListViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
	<div class="col-md-4 p-4">
		<div class="list-group m-0" id="list-tab" role="tablist">
			@Html.ActionLink("All" , "Index" , null , new { @class = Request["Category"] == null ? "list-group-item active" : "list-group-item" })
			@foreach (var cate in Model.productCategories)
			{
				@Html.ActionLink(cate.Name, "Index" , new { Category = cate.Name} , new { @class = Request["Category"] == cate.Name ? "list-group-item active": "list-group-item" })
			}
		</div>
	</div>
	<div class="col-md-8 p-4">
		<div class="card-deck">
			<div class="row">
				@foreach (var item in Model.product)
				{
				<div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 p-0">
					<div class="card m-2">
						<img class="img-fluid" src="~/Content/ProductImages/@item.Image" alt="Card image cap" />
						<div class="card-body">
							<h5 class="card-title">@item.Name</h5>
							<p class="card-text">@item.Description</p>
							<p class="card-text">@string.Format("{0:c}", item.Price)</p>
							<div class="d-flex justify-content-between">
								<a href="@Url.Action("Detail", "Home", new { Id = item.Id})" class="btn btn-secondary">Detail</a>
								<a href="@Url.Action("AddToBasket", "Basket", new { Id = item.Id})" class="btn btn-primary">Add To Basket</a>
							</div>
						</div>
					</div>
				</div>
				}
			</div>
		</div>
	</div>
</div>

